.button {
  background-color: black;
  border: 1px solid white;
  cursor: pointer;
  color: white;
  font-family: monospace;
}

.button:hover {
  background-color: #333;
}

.button:active {
  background-color: #111;
}

.button:disabled {
  cursor: auto;
  border-color: #888;
  background-color: black;
  color: #888;
}

.inputText {
  background-color: black;
  border: 1px solid white;
  color: white;
  font-family: monospace;
  padding: 5px;
}

.inputText:disabled {
  border-color: #888;
  background-color: black;
  color: #888;
}