.header {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.headerRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.headerMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.headerMenu > a {
  color: white;
}

.main {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}